{% extends 'base.html.twig' %}

{% block body %}
	<main
		class="container" style="margin-top:100px">
		{# Display success messages #}
		{% for messages in app.flashes %}
			{% for error in messages %}
				<div class="alert alert-danger" style="position:absolute;top:155px;background-color:red;">
					{{ error }}
				</div>
			{% endfor %}
		{% endfor %}
		<section class="row">
			<h1>Panier</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Description</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Total</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for element in data %}
						<tr>
							<td>{{ element.food.name }}</td>
							<td>{{ element.food.description }}</td>
							<td>{{ element.food.price  }}
								dt</td>
							<td>{{ element.quantity }}</td>
							<td>{{ element.quantity * element.food.price  }}
								dt</td>
							<td>
								<a class="btn btn-success" href="{{ path('cart_add',{'id': element.food.id}) }}">+</a>
								<a class="btn btn-warning" href="{{ path('cart_decrement',{'id': element.food.id}) }}">-</a>
								<a class=" mt-2" href="{{ path('cart_delete',{'id': element.food.id}) }}"><img src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" width="30px" alt="delete_icon"/></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Votre panier est vide</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">Total</td>
						<td>{{ total }}
							dt</td>
						<td>
							<a href="{{ path('cart_remove') }}" class="btn btn-danger">Vider</a>
						</td>
					</tr>
				</tfoot>
			</table>
			<div style="display:flex;justify-content:space-between">
				<a href="{{ path('app_orders_add') }}" class="btn btn-primary">Valider le commande</a>
				<a href="{{ path('app_menu_index') }}" class="btn btn-secondary">Commander autre</a>
			</div>
		</div>
	</section>
</main>{% endblock %}
