{% extends 'dashboard.html.twig' %}

{% block title %}Comments{% endblock %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>user</th>
                <th>actions</th>
            </tr>   
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.user }}</td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info" href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
                    {{ include('comment/_delete_form.html.twig') }}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
