{% extends 'base.html.twig' %}

{% block title %}Food
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="btn btn-primary" style="margin:20px 0 20px 0;"><a style="color:#222; text-decoration:none" href="{{ path('app_food_index') }}"> back to list</a> </div> 
		<section class="py-5">
			<div class="container px-4 px-lg-5 my-5">
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ vich_uploader_asset(food, 'imageFile') }}" alt="..."/></div>
					<div class="col-md-6">
						<h1 class="display-5 fw-bolder">{{ food.name  }}</h1>
						<div class="small mb-1">{{ food.menuItem }}</div>
						<div class="fs-5 mb-5">
							<span style="color:red">{{ food.price }} dinars</span>
						</br>
						<span style="color:#222">Available :{{ food.isAvailable ? 'Yes' : 'No' }}</span>
					</div>
					<p class="lead">{{ food.description }}</p>
					<div class="d-flex">
						<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem"/>
						<a href="{{ path('cart_add', {'id':food.id}) }}" class="btn btn-outline-dark flex-shrink-0">
							<i class="bi-cart-fill me-1"></i>
							Ajouter au panier
						</a>
					</div>
				</div>
			</div>
	    </section>
	</div>


{% if is_granted('ROLE_ADMIN') %}
	<div class="ml-5" style="display:flex;gap:10px;padding-left:60px">
		<div>
			<a class="btn btn-success" href="{{ path('app_food_edit', {'id': food.id}) }}">edit</a>
		</div>
		<form method="post" action="{{ path('app_food_delete', {'id': food.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ food.id) }}">

			<div class="form-group">
				<button type="submit" class="btn btn-danger">Delete</button>
			</div>
		</form>
	</div>

{% endif %}

{% endblock %}
