{% extends 'dashboard.html.twig' %}

{% block content %}

<div class="container mt-5">
    <h2>Détails du categorie</h2>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Nom de categorie</th>
                <td>{{ categorie.name }}</td>
            </tr>
            <tr>
                <th scope="row">Food Items</th>
                <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Nom du Plat</th>
                                    <th scope="col">Cout</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for food in categorie.menuItems %}
                                    <tr>
                                        <td><img src="{{ vich_uploader_asset(food, 'imageFile') }}" alt="image" style="max-width: 50px;" /></td>
                                        <td><a href="{{ path('app_food_show_admin', {'id': food.id}) }}">{{ food.name }}</a></td>
                                        <td><span style="color: red;">{{ food.price }} Dinars</span></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

