{# templates/order/show.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Order Details</h1>

        <dl class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">{{ order.id }}</dd>

            <dt class="col-sm-3">Date Placed:</dt>
            <dd class="col-sm-9">{{ order.datePlaced|date('Y-m-d H:i:s') }}</dd>

            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9">{{ order.status }}</dd>

            <dt class="col-sm-3">User:</dt>
            <dd class="col-sm-9">{{ order.user.username }}</dd>
        </dl>

        <a href="{{ path('app_orders_index') }}" class="btn btn-primary">Back to list</a>
    </div>
{% endblock %}
