{# templates/user/edit.html.twig #}
{% extends 'dashboard.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block content %}
	<h1>Edit User</h1>
	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.username) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.phone) }}
	{# {{ form_row(registrationForm.plainPassword) }} #}
	{{ form_row(registrationForm.roles) }}
	<button type="submit" class="btn btn-primary">Save</button>
	{{ form_end(registrationForm) }}
{% endblock %}
